@value colors: "./ThemeStyle.css";
@value themeColor from colors;

.view1{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px rgba(52,63,75,0.06), 20px 30px 100px 30px rgba(52,63,75,0.15), 0 0 100px 20px rgba(52,63,75,0.2);
    border-radius: 80px;
    background-color: themeColor;
}
.view2{
    justify-content: center!important;
    align-items: center!important;
    width: 80px;
    height: 80px;
}
.img1{
    height: 30px;
    width: 30px;
}
.modal1 :global(.am-modal-content) {
  background-color: rgba(0,0,0,0);
}
.view3{
    height: 100%;
}
.view4{
    flex:1;
}
.view5{
    position: relative;
    height: 52px;
    background-color: themeColor;
    padding: 0 12px;
    /*border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.span1{
    position: absolute;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}
.view6{
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
}
.view7{
    background-color: #fff;
    flex:1;
}
.view8{
    border-top: 1px #EFEFEF solid;
    background-color: #fff;
    height: 50px;
    flex-direction: row;
    align-items: center;
    padding:0 5px;
}
.view9{
    width: 28px;
    height: 44px;
    margin: 0 4px;
    justify-content: center;
    align-items: center;
}
.img2{
    width: 22px;
    height: 22px;
}
.view10{
    width: 46px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    color: #858e99;
}
.inputItem1{
    flex:1;
}
.inputItem1:after{
    border-bottom: 0;
}
.view11{
    height: 60px;
}
.popover1{
    right:9px;
}
.input1{
    position: absolute;
    top: 10px;
    left: 4px;
    bottom: 0;
    right: 0;
    opacity: 0;
    height: 22px;
    width: 22px;
}
.view12{
    width: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}
.openBtn{
    font-size: 0.3rem;
    height: 0.54rem;
    line-height: 0.54rem;
    background-color: #fff;
    border-radius: 0.5rem;
    color: themeColor;
    border: 0;
    padding: 0 0.2rem;
}
.relationItem{
    width: 110px;
    height: 90px;
    justify-content: center;
    align-items: center;
}
.relationAvatar{
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
    border-radius: 50%;
    background-color: #fff;
}
.relationNickname{
    color: #333;
    font-size: 14px;
}
.relationItemActive{
    background-color: #D3D2D3;
}
